<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather App</title>
</head>
<body>
    <h1>Hello Welcome to Weather App</h1>
    <form action="/template" method="POST">
        <input type="text" placeholder="Enter the city" id="city" name="city"/><br/>
        <input type="text" placeholder="Enter the units" id="units" name="units"/><br/>
        <input type="text" placeholder="Enter the appid" id="appid" name="appid"/><br/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>